<div class="certificate-box">
    <h2 class="certificate-title">First Bill of Exchange</h2>
    <p class="certificate-sub">(Second of the same and date unpaid)</p>
  
    <p class="certificate-body">
      DRAWN UNDER LETTER OF CREDIT NO: <strong>M12022404ES00300</strong> ISSUED AT SOUTH KOREA ON <strong>15/04/2024</strong>.<br>
      PAY TO THE ORDER OF <strong>CANARA BANK</strong>, THE SUM OF <strong>44,902.32 USD</strong>.
    </p>
  
    <div class="section">
      <h4>Drawer:</h4>
      <p>KEN ENTERPRISE LIMITED</p>
      <p>9/621, INDUSTRIAL ESTATE, NEAR KALYAN KENDRA, ICHALKARANJI</p>
      <p>(SIGNATURE/STAMP)</p>
    </div>
  
    <div class="section">
      <h4>Drawee:</h4>
      <p>__________________________</p>
    </div>
  </div>
  